* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
}

a:active {
    color: #F5E995;
}

#myModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

#modalContent {
    background-color: #fefefe;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    width: 60%;
    max-width: 600px;
}

#modalContent img {
    padding: 30px 0;
    width: 300px;
    height: 300px;
}

#closeModalIcon {
    padding: 0;
    color: #aaaaaa;
    float: right;
    font-size: 50px;
}

#closeModalIcon:hover,
#closeModalIcon:focus {
    color: #000;
    cursor: pointer;
}

.contentproyek {
    position: relative;
    align-items: center;
}

.proyekcontoh {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.proyekcontohitem {
    display: flex;
    flex-wrap: nowrap;
}

.prev,
.next {
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    user-select: none;
    position: absolute;
    padding: 0 10%;
    top: 50%;
    z-index: 1;
}

.next {
    right: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {
    opacity: 0.4;
}
to {
    opacity: 1;
}
}

@keyframes fade {
from {
    opacity: 0.4;
}
to {
    opacity: 1;
}
}

.faq {
    padding: 70px;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 54%;
    gap: 10px;
}

.faq a {
    color: teal;
}

.faq button {
    background-color: #F4F4F4;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    font-size: 15px;
    text-align: left;
    font-weight: 800;
}

.faq-content {
    display: none;
    font-size: 14px;
    padding: 0 20px;
}

@media (min-width:1000px) {
    header {
        background-color: #404146;
        position: fixed;
        width: 100%;
        z-index: 200;
    }

    nav {
        margin: 0 auto;
        display: flex;
        width: 100%;
        align-items: center;
        max-width: 1440px;
        justify-content: space-between;
    }
    
    .nav-logo {
        padding: 30px;
        letter-spacing: 7px;
        font-size: 22px;
        font-weight: bold;
        color: #ffff;
    }
    .nav-list li {
        list-style: none;
        font-size: 15px;;
        color: #ffff;
        display: inline;
        padding: 0px 20px
    }

    .hero {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 85px;
    }
    
    .hero img {
        width: 15%;
        padding-bottom: 70px;
    }
    
    .hero h1 {
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-top: 50px;
        font-size: 75px;
        font-weight: bolder;
        color: #404146;
        letter-spacing: 5px;
    }
    
    .hero h2 {
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 200;
        letter-spacing: 0;
    
    }
    
    .hero h1 span{
        color : orange
    }
    
    .contentbody {
        background-color: #F4F4F4;

    }
    .bodytentangsaya {
        margin: 0 auto;
        margin-top: 0;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 70px 200px;
    }
    
    h3 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    
    p {
        line-height: 1.5em;
        color: #777b7e;
    }
    
    .contentproyek {
        max-width: 640px;
        margin: 0 auto;
    }
    .proyekcontohjudul {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
    }
    
    .proyekcontoh {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .proyekcontoh img {
        width: 300px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 20px 2px #d9d9d9;
    }
    
    .hubungisaya {
        margin: 90px auto;
        display: flex;
        align-items: center;
        background-color: #F4F4F4;
        color: #404146;
        flex-direction: column;
        padding: 70px 0px;
        gap: 15px;
    }
    .hubungisaya p {
        color: black;
        font-size: 15px;
        padding: 0;
        margin: 0;

    }

    #notif {
        text-align: left;
    }
    
    .hubungisaya input {
        align-items: center;
        width:50%;
        padding: 13px 20px;
        color: #404146;
        height: 25px;
        border: 0px solid white;
        border-radius: 10px;
        border-color: white;
    }

    .hubungisaya input:focus {
        width:50%;
        padding: 13px 20px;
        color: #404146;
        height: 25px;
        border: 0px solid white;
        border-radius: 10px;
        border-color: white;
    }
    
    #kirim {
        width:25%;
        margin-bottom: 20px;
        background-color: #F5E995;
        color: #404146;
        height: 45px;
        border: 0px solid white;
        border-radius: 10px;
    }
    
    .hubungisaya textarea {
        font-family: Arial, Helvetica, sans-serif;
        width:50%;
        padding: 13px 20px;
        color: #404146;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        border-color: white;
    }
    
    footer {
        background-color: #7C7D82;
    }

    .contentfooter {
        margin: 0 auto;
        max-width: 1440px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    footer p {
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 7px;
        font-weight: bold;
        color: #ffff;
        padding: 30px;
    }
    
    footer ul {
        list-style: none;
        text-align: right;
        padding: 30px;
        line-height: 40px;
    }    
    
}

a {
    text-decoration: none;
}

@media (max-width:1000px) {

    header {
        background-color: #404146;
        position: fixed;
        width: 100%;
        z-index: 200;
    }

    nav {
        background-color: #404146;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-logo {
        padding: 30px;
        letter-spacing: 7px;
        font-size: 22px;
        font-weight: bold;
        color: #ffff;
    }
    .nav-list li {
        list-style: none;
        font-size: 15px;;
        color: #ffff;
        display: inline;
        padding: 0px 18px

    }
    
    .hero {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .hero img {
        width: 40%;
        padding-bottom: 70px;
    }
    
    .hero h1 {
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-top: 50px;
        font-size: 50px;
        font-weight: bolder;
        color: #404146;
        letter-spacing: 5px;
    }
    
    .hero h2 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 0;
    
    }
    
    .hero h1 span{
        color : orange
    }
    
    .bodytentangsaya {
        margin-top: 0;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 70px 80px;
    }
    
    h3 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    
    p {
        line-height: 1.5em;
        color: #777b7e;
    }
    
    .proyekcontohjudul {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        margin-bottom: -25px;
    }
    
    .proyekcontoh {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 90px;
        width: 100%;
        
    }
    
    .proyekcontoh img {
        width: 60%;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 5px 5px 20px 2px #d9d9d9;

    }
    
    .hubungisaya {
        display: flex;
        align-items: center;
        background-color: #F4F4F4;
        color: #404146;
        flex-direction: column;
        padding: 70px 0px;
    }
    .hubungisaya p {
        color: white;
    }
    
    .hubungisaya input {
        width:70%;
        margin-bottom: 30px;
        padding: 13px 20px;
        color: #404146;
        height: 25px;
        border: 0px solid white;
        border-radius: 10px;
        border-color: white;
    }
    .faq {
        padding: 70px;
        margin: 0 auto;
        width: 75%;
    }

    .faq button {
        width: 100%;
    }
    
    #kirim {
        width:50%;
        margin-bottom: 20px;
        background-color: #F5E995;
        color: #404146;
        height: 45px;
        border: 0px solid white;
        border-radius: 10px;
    }
    
    .hubungisaya textarea {
        font-family: Arial, Helvetica, sans-serif;
        width:70%;
        margin-bottom: 35px;
        padding: 13px 20px;
        color: #404146;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        border-color: white;
    }
    
    footer {
        background-color: #7C7D82;
        color: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    footer p {
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 7px;
        font-weight: bold;
        color: #ffff;
        padding: 30px;
    }
    
    footer ul {
        list-style: none;
        text-align: left;
        padding: 0px 30px 30px 30px;
        line-height: 40px;
    }       
    
}


@media (max-width:670px) {

    #myModal {
        padding-top: 13vh;
      }

    nav {
        background-color: #404146;
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .nav-logo {
        padding: 30px;
        letter-spacing: 7px;
        font-size: 22px;
        font-weight: bold;
        color: #ffff;
    }
    .nav-list li {
        list-style: none;
        font-size: 15px;;
        color: #ffff;
        display: none;
        padding: 0px 18px
    }
    
    .hero {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 85px;
    }
    
    .hero img {
        width: 40%;
        padding-bottom: 70px;
    }
    
    .hero h1 {
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-top: 50px;
        font-size: 50px;
        font-weight: bolder;
        color: #404146;
        letter-spacing: 5px;
    }
    
    .hero h2 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 0;
    
    }
    
    .hero h1 span{
        color : orange
    }
    
    .bodytentangsaya {
        margin-top: 0;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 70px 80px;
    }
    
    h3 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 25px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    
    p {
        line-height: 1.5em;
        color: #777b7e;
    }
    
    .proyekcontohjudul {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        margin-bottom: -25px;
    }
    
    .proyekcontoh {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 90px;
    }
    
    .proyekcontoh img {
        width: 65%;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 5px 5px 20px 2px #d9d9d9;
    }
    
    .hubungisaya {
        display: flex;
        align-items: center;
        background-color: #F4F4F4;
        color: #404146;
        flex-direction: column;
        padding: 70px 0px;
        width: 100%;
    }
    .hubungisaya p {
        color: white;
    }
    
    .hubungisaya input {
        width:70%;
        margin-bottom: 30px;
        padding: 13px 20px;
        color: #404146;
        height: 25px;
        border: 0px solid white;
        border-radius: 10px;
        border-color: white;
    }
    
    #kirim {
        width:40%;
        margin-bottom: 20px;
        background-color: #F5E995;
        color: #404146;
        height: 45px;
        border: 0px solid white;
        border-radius: 10px;
    }
    
    .hubungisaya textarea {
        font-family: Arial, Helvetica, sans-serif;
        width:70%;
        margin-bottom: 35px;
        padding: 13px 20px;
        color: #404146;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        border-color: white;
    }

    .faq {
        padding: 70px;
        margin: 0 auto;
        width: 75%;
    }

    .faq button {
        width: 100%;
    }

    footer {
        background-color: #7C7D82;
        color: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
    }
    
    footer p {
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 7px;
        font-weight: bold;
        color: #ffff;
        padding: 30px;
    }
    
    footer ul {
        list-style: none;
        text-align: left;
        padding: 0px 30px 30px 30px;
        line-height: 40px;
    }    
    
    
    
}
